/* Empty. Add your own CSS if you like */
img {max-width: 100%;}

.content-inner{padding: 16px;}

.card.col{padding: 0;}

/*
 * Android. Action sheet
 */
.platform-android .action-sheet .button {
  padding-left: 16px;
}

.has-extended-footer {
	bottom: $extended-footer-height;
}

.extended-footer {
	height: $extended-footer-height;
	.subtitle {
		text-align: center;
		width: 100%;
		position: absolute;
		bottom: 10px;
		left: -5px;
	}
}

.item-icon-left-extended {
	padding-left: 80px;
	.icon {
		left: 20px;
		font-size: 50px;
	}
}

.error-message {
	color: orangered !important;
}