<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.titaniumtemplates.supermodular-ionic" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Supermodular</name>
  <description>
        Supermodular Ionic. The boostrap you need in order to build your next Ionic application.
    </description>
  <author email="skounis@gmail.com" href="http://about.me/stavros.kounis">
        Stavros Kounis
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <access launch-external="yes" origin="tel:*"/>
  <access launch-external="yes" origin="mailto:*"/>
  <access launch-external="yes" origin="maps:*"/>
  <access launch-external="yes" origin="geo:*"/>
  <platform name="android">
    <preference name="android-minSdkVersion" value="14"/>
    <preference name="android-targetSdkVersion" value="22"/>
  </platform>
  <platform name="ios">
    <icon height="57" src="resources/ios/icons/icon.png" width="57"/>
    <icon height="114" src="resources/ios/icons/icon@2x.png" width="114"/>
    <icon height="40" src="resources/ios/icons/icon-40.png" width="40"/>
    <icon height="80" src="resources/ios/icons/icon-40@2x.png" width="80"/>
    <icon height="50" src="resources/ios/icons/icon-50.png" width="50"/>
    <icon height="100" src="resources/ios/icons/icon-50@2x.png" width="100"/>
    <icon height="60" src="resources/ios/icons/icon-60.png" width="60"/>
    <icon height="120" src="resources/ios/icons/icon-60@2x.png" width="120"/>
    <icon height="180" src="resources/ios/icons/icon-60@3x.png" width="180"/>
    <icon height="72" src="resources/ios/icons/icon-72.png" width="72"/>
    <icon height="144" src="resources/ios/icons/icon-72@2x.png" width="144"/>
    <icon height="76" src="resources/ios/icons/icon-76.png" width="76"/>
    <icon height="152" src="resources/ios/icons/icon-76@2x.png" width="152"/>
    <icon height="29" src="resources/ios/icons/icon-small.png" width="29"/>
    <icon height="58" src="resources/ios/icons/icon-small@2x.png" width="58"/>
    <icon height="87" src="resources/ios/icons/icon-small@3x.png" width="87"/>
    <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640"/>
    <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750"/>
    <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242"/>
    <splash height="1242" src="resources/ios/splash/Default-Landscape-736h.png" width="2208"/>
    <splash height="1536" src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048"/>
    <splash height="768" src="resources/ios/splash/Default-Landscape~ipad.png" width="1024"/>
    <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536"/>
    <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768"/>
    <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640"/>
    <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320"/>
  </platform>
  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser"/>
  </feature>
  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.NetworkManager" />
  </feature>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <engine name="ios" spec="^3.9.2"/>
  <plugin name="de.appplant.cordova.plugin.email-composer" spec="https://github.com/katzer/cordova-plugin-email-composer.git"/>
</widget>
