<ion-view view-title="Range">
	<div class="content has-header">

		<div class="list" ng-init="value = 100">
			<div class="item item-md-range">
				<md-slider min="0" ng-model="value" max="255"></md-slider>
			</div>
			<div class="item item-md-range">
				<md-slider class="md-primary" min="0" ng-model="value" max="255"></md-slider>
			</div>
			<div class="item item-md-range">
				<md-slider class="md-warn" min="0" ng-model="value" max="255"></md-slider>
			</div>
			<div class="item item-md-range">
				<md-slider min="0" ng-model="value" max="255"></md-slider>
			</div>
		</div>

	</div>
</ion-view>
